//$xs: 480px;
$s: 480px;
$m: 600px;
$l: 900px;
$ll: 1024px;
$xl: 1400px;

@mixin media-s {
  @media (min-width: #{$s}) {
    @content;
  }
}

@mixin media-m {
  @media (min-width: #{$m}) {
    @content;
  }
}


@mixin media-l {
  @media (min-width: #{$l}) {
    @content;
  }
}

@mixin media-ll {
    @media (min-width: #{$ll}) {
        @content;
    }
}


@mixin media-xl {
  @media (min-width: #{$xl}) {
    @content;
  }
}
