footer {
    text-align: center;

    .wrapper {
        padding: 4em 0;
    }

    .line{
        width: 100%;
        border-bottom: 1px solid $blue12;
    }

    p {
        font-weight: 400;
        line-height: 1.6;

        &.small {
            font-size: .8em;
        }

        img {
            display: inline-block;
            vertical-align: text-top;
            width: 20px;
            margin: 0 4px;
        }
    }

    a {
        font-weight: 700;
        transition:  all .3s ease-in-out;

        &:hover {
            color: $yellow6;
        }
    }
}
