header {
    min-height: 630px;
    background: url('../img/header_bg.jpg') no-repeat center;
    background-size: cover;

    @include media-l {
        padding-bottom: 100px;
    }

    .wrapper {

        @include media-xl {
            padding: 0 60px;
        }
    }

    .row {
        .col-l, .col-r {
            text-align: center;
            width: 100%;
            color: $white;
            vertical-align: middle;
        }

        &#row1 .col-r {
            margin: 5em 0;
        }

        @include media-l {
            .col-l {
                width: 33%;
                display: inline-block;
                vertical-align: bottom;
            }
            .col-r {
                width: 64%;
                display: inline-block;
                vertical-align: bottom;
            }

            &#row1 {
                .col-l, .col-r {
                    vertical-align: middle;
                }

                .col-r {
                    padding-top: 3em;
                    margin: 0;
                }
            }
        }
    }

    .hamb {
        position: absolute;
        z-index: 1;
        top: 0;
        right: 5px;
        height: 30px;

        @include media-l {
            display: none;
        }

        a {
            padding-top: 30px;
            display: block;

            div {
                $w: 40px;
                position: relative;
                height: 30px;
                width: $w;

                span {
                    position: absolute;
                    top: 50%;
                    width: $w;
                    height: 4px;
                    margin-top: -2px;
                    background-color: $white;
                    border-radius: 4px;
                    transition: all .3s ease-in-out;
                    transform-origin: 2px;

                    &:first-child {
                        margin-top: 0;
                        top: 0;
                        bottom: initial;
                    }

                    &:last-child {
                        margin-top: 0;
                        top: initial;
                        bottom: 0;
                    }
                }
            }
        }
    }

    nav#menu {
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1;
        padding-top: 150px;

        @include media-l {
            display: none;
        }

        ul {
            max-height: 0;
            overflow: hidden;
            transition: max-height .3s ease-in-out;

            li:not(#back) {
                font-weight: 700;
                font-size: 1.3em;
                text-align: center;
                color: $white;
                position: relative;
                z-index: 1;
                width: 80%;
                margin: auto;
                padding: 1.5em 0;

                &:not(:last-child):after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 30px;
                    margin: auto;
                    border-bottom: 1px solid $green2;
                }
            }

            li#back {
                left: 0;
                right: 0;
                top: -999em;
                bottom: -99em;
                z-index: 0;

                a {
                    display: block;
                    height: 100%;
                }
            }
        }

        &:target {
            z-index: 2;

            ul {
                max-height: 600px;

                li#back {
                    position: absolute;
                }
            }

            & + .hamb {
                span:first-child {
                    width: 40px;
                    transform: rotate(45deg);
                }

                span {
                    width: 0;
                }

                span:last-child {
                    width: 40px;
                    transform: rotate(-45deg);
                }
            }

            & ~ #row1 .col-r, & ~ #row2 .col-l {
                opacity: 0;
            }
        }
    }

    #row1 .col-r, #row2 .col-l {
        transition: all .3s ease-in-out;
    }

    #row2 .col-r {

        @include media-l {
            margin-top: 2em;
        }
    }

    .logo-wrapper {
        $w: 150px;
        display: inline-block;
        width: $w;

        img {
            display: block;
            padding: 30px 20px 15px;
            background-color: $white;
        }

        &:after {
            content: '';
            display: block;
            width: 0;
            border-left: $w/2 solid transparent;
            border-right: $w/2 solid transparent;
            border-top: 30px solid $white;
        }

        @include media-m {
            $w: 190px;
            width: $w;

            &:after {
                border-left: $w/2 solid transparent;
                border-right: $w/2 solid transparent;
            }
        }
    }

    h1 {
        font-size: 2.5em;
        max-width: 6em;
        margin: 1em auto;
        padding-bottom: .6em;
        position: relative;

        @include media-m {
            font-size: 3em;
        }

        @include media-l {
            font-size: 3.5vw;
        }

        @include media-xl {
            font-size: 2.5vw;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            width: 6em;
            height: 8px;
            background: url('../img/line.png') no-repeat center;
            background-size: contain;
        }
    }

    h2 {
        font-size: 1.5em;
        line-height: 1.3;
        max-width: 17em;
        margin: auto;

        @include media-l {
            font-size: 2vw;
        }

        @include media-xl {
            font-size: 1.2vw;
        }
    }

    h3 {
        font-size: 1.5em;
        position: relative;
        margin: 2em auto;
        padding-top: 1.5em;

        @include media-l {
            font-size: 1.8vw;
        }

        @include media-xl {
            font-size: 1.2vw;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            width: 90px;
            height: 1px;
            margin: auto;
            background-color: $white;
        }
    }

    h4 {
        font-size: 1.1em;
        font-weight: 700;
        margin: 2em auto 1em;

        @include media-l {
            margin: 2em auto 1.5em;
        }
    }
}

.countdown {

    & > div {
        position: relative;
        display: inline-block;
        padding-left: 14px;

        @include media-s {
            padding-left: 30px;
        }
    }

    .digit {
        font-size: 1.5em;
        font-weight: 700;
        line-height: 50px;
        display: inline-block;
        height: 50px;
        width: 35px;
        background: url('../img/digit.png') no-repeat center;
        background-size: contain;

        @include media-s {
            font-size: 2em;
            line-height: 70px;
            height: 70px;
            width: 49px;
        }

        @include media-m {
            font-size: 3em;
            line-height: 100px;
            height: 100px;
            width: 70px;
        }
    }

    .label {
        font-size: .7em;
        font-weight: 400;
        text-transform: uppercase;
        color: #ffe745;
        position: absolute;
        top: 0;
        right: 100%;
        transform: rotate(-90deg);
        transform-origin: 100% 0;

        @include media-s {
            font-size: .8em;
            right: 92%;
        }
    }
}

.big-button {
    font-size: 1.2em;

    margin-top: 2em;
    font-weight: 700;
    padding: .7em 1.2em;
    text-transform: uppercase;
    border-radius: 6px;
    transition: all .3s ease-in-out;

    @include media-s {
        font-size: 1.8em;
    }

    @include media-m {
        font-size: 2.3em;
    }

    span {
        font-weight: 300;
    }
}

.green-button {
    background-color: $green2;
    color: $text-white;
    border-top: 4px solid $green11;

    &:hover {
        background-color: $green5;
    }

    span {
        color: $yellow7;
    }
}

.red-button {
    background-color: $red3;
    color: $text-white;
    border-top: 4px solid $red4;

    &:hover {
        background-color: $red5;
    }

    span {
        color: $yellow7;
    }
}
