main {
    position: relative;
    z-index: 2;
    margin-top: -2em;

    h2.title {
        font-size: 1.6em;
        font-weight: 700;
        text-align: center;
        padding: 1.5em 0 .3em;
    }

    h4.subtitle {
        font-size: 1.2em;
        text-align: center;
        padding-bottom: 1em;
    }

    h5 {
        font-size: 1em;
    }

    h6 {
        font-size: 1.2em;
    }

    #kierunki {
        @include media-l {
            padding-top: 150px;
        }

        .wrapper {
            overflow: auto;

            @include media-l {
                height: 240px;
                margin-top: -240px;
                position: absolute;
                left: 0;
                right: 0;
                overflow: visible;
            }
        }
    }

    .faculty {
        width: 90%;
        max-width: 320px;
        margin: auto;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        padding-top: 4px;

        @include media-l {
            float: left;
            width: 19.8%;
            margin: .1%;
            height: 120px;
        }

        & > a {
            width: 100%;
            display: block;

            @include media-l {
                height: 100%;
                text-align: center;
                padding: 0 10%;

                &:after {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    height: 100%;
                    width: 0;
                }
            }
        }

        h3 {
            font-size: 1.2em;
            font-weight: 700;
            text-align: center;
            color: $white;
            padding: 1.6em .7em;

            @include media-l {
                padding: 0;
                width: 97%;
                display: inline-block;
                vertical-align: middle;
            }
        }

        ul {
            margin-bottom: .5em;

            @include media-l {
                display: none;

                &:target, &.opened {
                    display: block;
                    position: absolute;
                    width: 100%;
                    left: 0;
                }
            }

            li {
                text-align: center;
                color: $white;
                position: relative;
                width: 100%;
                margin: auto;

                @include media-l {
                    float: left;
                    width: 25%;
                }

                a {
                    display: inline-block;
                    vertical-align: middle;
                    width: 100%;
                    padding: 1.5em 5%;
                    transition: all .3s ease-in-out;

                    @include media-l {

                        height: 120px;
                        padding: 0;
                    }

                    &:after {
                        content: '';
                        display: inline-block;
                        vertical-align: middle;
                        height: 100%;
                        width: 0;
                    }

                    span {
                        line-height: 1.5em;
                        display: inline-block;
                        width: 90%;
                        vertical-align: middle;
                    }
                }

                &:not(:last-child):after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: 40px;
                    margin: auto;
                    border-bottom: 1px solid transparent;

                    @include media-l {
                        top: 0;
                        left: initial;
                        height: 40px;
                        width: 0;
                        border-right: 1px solid transparent;
                    }
                }
            }
        }

        &.green {
            background-color: $green5;

            & > a {
                background-color: $green1;

                &:hover {
                    background-color: $green5;
                }
            }

            ul li {
                background-color: $green3;

                a:hover {
                    background-color: $green5;
                }

                &:after {
                    border-bottom-color: $green4;

                    @include media-l {
                        border-bottom-color: transparent;
                        border-right-color: $green4;
                    }
                }
            }
        }

        &.blue {
            background-color: $blue5;

            & > a {
                background-color: $blue2;

                &:hover {
                    background-color: $blue5;
                }
            }

            ul li {
                background-color: $blue3;

                a:hover {
                    background-color: $blue4;
                }

                &:after {
                    border-bottom-color: $blue4;

                    @include media-l {
                        border-bottom-color: transparent;
                        border-right-color: $blue4;
                    }
                }
            }
        }

        &.yellow {
            background-color: $yellow5;

            & > a {
                background-color: $yellow2;

                &:hover {
                    background-color: $yellow5;
                }
            }

            ul li {
                background-color: $yellow3;

                a:hover {
                    background-color: $yellow4;
                }

                &:after {
                    border-bottom-color: $yellow4;

                    @include media-l {
                        border-bottom-color: transparent;
                        border-right-color: $yellow4;
                    }
                }
            }
        }

        &.purple {
            background-color: $purple4;

            & > a {
                background-color: $purple1;

                &:hover {
                    background-color: $purple4;
                }
            }

            ul li {
                background-color: $purple2;

                a:hover {
                    background-color: $purple3;
                }

                &:after {
                    border-bottom-color: $purple3;

                    @include media-l {
                        border-bottom-color: transparent;
                        border-right-color: $purple3;
                    }
                }
            }
        }
    }

    ul.files {
        text-align: center;

        li {
            width: 100%;
            max-width: 320px;
            margin: 2em auto;

            @include media-l {
                display: inline-block;
            }

            a {
                display: block;

                & > div {
                    display: inline-block;
                    vertical-align: middle;
                }

                .dok-icon {
                    position: relative;
                    width: 30%;
                    padding-top: 30%;
                    background-color: $white;
                    border-radius: 50%;

                    & > div {
                        position: absolute;
                        top: 50%;
                        left: 0;
                        right: 0;
                        height: 36px;
                        width: 31px;
                        margin: -18px auto 0;
                        transition: opacity .3s ease-in-out;
                    }

                    .n {
                        opacity: 1;
                        background: url('../img/doc_n.png') no-repeat center;
                        background-size: 100%;
                    }

                    .h {
                        opacity: 0;
                        background: url('../img/doc_h.png') no-repeat center;
                        background-size: 100%;
                    }
                }

                .text {
                    width: 65%;
                    padding-left: 1em;
                    text-align: left;

                    h3 {
                        font-size: 1em;

                        em {
                            transition: color .3s ease-in-out;
                        }
                    }

                    p.file-info {
                        font-size: .7em;
                        text-transform: uppercase;
                        color: $text-grey1;
                        padding-top: .6em;
                    }
                }

                &:hover {
                    .n {
                        opacity: 0;
                    }

                    .h {
                        opacity: 1;
                    }

                    em.text-green {
                        color: $text-yellow2;
                    }
                }
            }
        }
    }

    ul.schedule {
        li {
            position: relative;
            padding: 1.5em 0;
            margin: auto;

            @include media-ll {
                width: 13.9%;
                display: inline-block;
                margin: 9em 0 0;
                padding: 0 0 6em 0;
            }

            @for $i from 0 through 10 {
                &:nth-child(#{$i}) {
                    .cross {
                        transform: rotate(random(360) + deg);
                    }
                }
            }

            .cross {
                position: absolute;
                left: 0;
                top: 3em;
                background: url('../img/cross_green.png') no-repeat center;
                background-size: 100%;
                height: 45px;
                width: 41px;

                @include media-ll {
                    margin-top: 2em;
                    position: static;
                }
            }

            h5 {
                line-height: 1.3;

                @include media-ll {
                    position: absolute;
                    bottom: 100%;
                }
            }

            h5, h6 {
                font-size: 1em;
                margin: 0;
                padding-left: 70px;

                @include media-ll {
                    padding-left: 0;
                    font-size: .9em;
                }

                em.big {
                    font-size: 1.4em;
                }
            }

            h6 {
                margin-top: 1em;

                @include media-ll {
                    position: absolute;
                    margin-top: 2em;
                }
            }

            &.finished {
                h5, h6 {
                    color: $text-blue3;
                }
                .cross {
                    background: url('../img/cross_blue.png') no-repeat center;
                }
            }
        }
    }

    .shield {
        margin: 2em auto;
    }

    .perc-wrapper {
        position: relative;
        width: 100%;
        max-width: 1320px;
        margin: auto;

        img {
            position: relative;
            z-index: 1;

            @include media-m {
                margin-bottom: 5em;
            }
        }

        .perc {
            $h: 80px;
            $n: 54px;
            position: relative;
            height: $h;
            width: 80%;
            max-width: 300px;
            margin: 0.5em 0;

            @include media-m {
                width: 46%;
                max-width: none;
            }

            @include media-l {
                width: 40%;
            }

            p {
                display: inline-block;
                vertical-align: middle;
                margin: 0;

                &.number {
                    font-size: 2.5em;
                    font-weight: 700;
                    line-height: $n;
                    position: relative;
                    height: $n;
                    width: 90px;
                    z-index: 1;
                }

                &.text {
                    width: 60%;
                }
            }

            &.left {
                float: left;
                text-align: right;

                @include media-m {
                    position: absolute;
                    top: 100%;
                    margin-top: -40px;
                    right: 40px;
                }

                @include media-l {
                    top: 50%;
                    right: 10%;
                }

                &:before {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    height: 100%;
                    width: 0;
                }

                &:after {
                    content: '';
                    position: absolute;
                    left: 100%;
                    border-top: $h / 2 solid transparent;
                    border-bottom: $h / 2 solid transparent;
                    border-left: 18px solid $blue8;
                    border-right: 0;
                    z-index: 0;
                }

                p {
                    &.number {
                        margin-right: -20px;
                        padding-right: 7px;

                        &:before {
                            content: '';
                            position: absolute;
                            left: 100%;
                            border-top: $n / 2 solid transparent;
                            border-bottom: $n / 2 solid transparent;
                            border-left: 18px solid $green8;
                            border-right: 0;
                        }
                    }

                    &.text {
                        text-align: right;
                        padding: 0 1em 0 0;
                    }
                }
            }

            &.right {
                float: right;
                text-align: left;

                @include media-m {
                    position: absolute;
                    top: 100%;
                    margin-top: -40px;
                    left: 40px;
                }

                @include media-l {
                    top: 50%;
                    left: 10%;
                }

                &:after {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    height: 100%;
                    width: 0;
                }

                &:before {
                    content: '';
                    position: absolute;
                    right: 100%;
                    border-top: $h / 2 solid transparent;
                    border-bottom: $h / 2 solid transparent;
                    border-left: 0;
                    border-right: 18px solid $blue8;
                    z-index: 0;
                }

                p {
                    &.number {
                        margin-left: -20px;
                        padding-left: 7px;

                        &:before {
                            content: '';
                            position: absolute;
                            right: 100%;
                            border-top: $n / 2 solid transparent;
                            border-bottom: $n / 2 solid transparent;
                            border-left: 0;
                            border-right: 18px solid $green7;
                        }
                    }

                    &.text {
                        text-align: left;
                        padding: 0 0 0 1em;
                    }
                }
            }
        }
    }

    .boxes {
        width: 100%;
        overflow: auto;
        margin-bottom: 420px;

        @include media-l {
            margin-bottom: 100px;
        }

        h4 {
            @include media-l {
                padding-bottom: 0 !important;
            }
        }
    }

    .bg-img {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        padding-top: 100%;

        &.photo-1 {
            background-image: url('../img/photo_1.jpg');
        }
        &.photo-2 {
            background-image: url('../img/photo_2.jpg');
        }
        &.photo-3 {
            background-image: url('../img/photo_3.jpg');
        }
    }

    .col-66 {
        width: 100%;

        @include media-l {
            float: left;
            width: 66.66%;
        }
    }

    .col-33 {
        width: 100%;

        .row.switched {
            float: right;
        }

        @include media-m {
            .row {
                float: left;
                width: 50%;
            }
        }

        @include media-l {
            float: left;
            width: 33.33%;

            .row {
                float: left;
                width: 100%;
            }
        }

    }

    .col-50 {
        width: 100%;

        @include media-m {
            float: left;
            width: 50%;
        }

        @include media-l {
            &.switched {
                float: right;
            }
        }
    }

    .row {
        width: 100%;
        overflow: auto;
    }

    div#o-nas {

        .boxes {
            .text {
                position: relative;

                & > div {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    text-align: center;;

                    &:after {
                        content: '';
                        height: 100%;
                        width: 0;
                        display: inline-block;
                        vertical-align: middle;
                    }

                    & > div {
                        margin: auto;
                        width: 80%;
                        display: inline-block;
                        vertical-align: middle;
                        text-align: left;

                        h4 {
                            font-size: 5vw;

                            @include media-m {
                                font-size: 4vw;
                            }

                            @include media-l {
                                font-size: 2.4vw;
                            }

                            @include media-xl {
                                font-size: 2.2vw;
                            }
                        }

                        ul {
                            font-size: 4vw;

                            @include media-s {
                                line-height: 1.2;
                                font-size: 2.4vw;
                            }

                            @include media-m {
                                font-size: 2vw;
                            }

                            @include media-l {
                                font-size: 1.4vw;
                            }

                            @include media-xl {
                                font-size: 1vw;
                            }
                        }

                        p {
                            font-size: 4vw;

                            @include media-s {
                                font-size: 2.4vw;
                            }

                            @include media-m {
                                font-size: 2vw;
                            }

                            @include media-l {
                                font-size: 1.4vw;
                            }

                            @include media-xl {
                                font-size: 1vw;
                            }
                        }
                    }
                }
            }

            .col-50.text {
                padding: 100% 0 0 0;

                @include media-s {
                    padding: 60% 0 0 0;
                }

                @include media-l {
                    padding: 50% 0 0 0;
                }
            }
            .col-33 .text {
                padding: 100% 0 0 0;

                @include media-s {
                    padding: 50% 0 0 0;
                }

                @include media-l {
                    padding: 100% 0 0 0;
                }
            }
        }
        .text {
            padding: 2em 2em 0 2em;

            @include media-l {
                padding: 1em 1em 0 1em;
            }

            &.green {
                color: $text-green3;
            }

            &.blue {
                color: $text-blue4;
            }

            &.red {
                color: $text-red2;
            }

            &.black {
                color: $text-black1;
            }

            &.white {
                color: $text-white;
            }

            h4 {
                font-size: 1.5em;
                font-weight: 700;
                padding-bottom: .5em;
            }

            ul {
                list-style: disc;
                font-size: .9em;
                font-weight: 300;
                padding-left: 1em;

                li {
                    display: list-item;
                    margin: .7em;

                    span {
                        color: $white;
                    }
                }
            }

            p {
                font-size: .9em;
                font-weight: 300;
            }
        }
    }

    .equal {
        height: 160px;

        div {
            display: inline-block;
            vertical-align: middle;
        }
    }

    .abs {
        position: absolute;
        bottom: -80px;
        margin-top: 2em;
    }

    .contact {
        padding-top: 90px;

        form {
            margin-top: 2em;
            padding-bottom: 50px;
            overflow: auto;

            input, textarea {
                font-size: 1em;
                width: 90%;
                max-width: 400px;
                margin: .5em 0;
                padding: .8em 0 .8em 1.5em;
                border: none;
                border-radius: 5px;

                @include media-l {
                    width: 100%;
                    max-width: none;
                }
            }

            textarea {
                resize: none;
            }

            div {
                text-align: center;
                padding: 0 .5em;

                input[type="submit"] {
                    font-size: 1em;
                    color: $white;
                    max-width: 240px;
                    margin: .5em auto;
                    padding-left: 0;
                    cursor: pointer;
                    background-color: $green6;
                    transition: all .3s ease-in-out;

                    &:hover {
                        background-color: $green9;
                    }

                    @include media-l {
                        float: right;
                    }
                }
            }

            .msg-container {
                margin: 2em 0;
                font-size: 1.3em;

                .success {
                    color: $green1;
                }
                .error {
                    color: $red1;
                }
            }
        }
    }

    #transport {
        background-color: $grey3;
        padding-bottom: 4em;

        .wrapper {
            z-index: 1;
            text-align: center;

            @include media-l {
                position: absolute;
                left: 0;
                right: 0;
                padding-left: 0;
            }

            & > .col-33 {
                position: relative;
                padding-left: 45px;
                max-width: 360px;
                margin: auto;

                @include media-l {
                    display: inline-block;
                    width: 33%;
                    float: none;
                }

                &:nth-child(1) > div {
                    background-color: $green10;

                    &:before {
                        border-right-color: $green10;
                    }

                    .icon {
                        background-image: url('../img/1.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 60%;
                    }
                }

                &:nth-child(2) > div {
                    background-color: $green8;

                    &:before {
                        border-right-color: $green8;
                    }

                    .icon {
                        background-image: url('../img/1.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 60%;
                    }
                }

                &:nth-child(3) > div {
                    position: absolute;
                    left: 45px;
                    right: 0;
                    width: auto;
                    background-color: $green11;

                    @include media-l {
                        position: relative;
                        left: 0;
                    }

                    &:before {
                        border-right-color: $green11;
                    }

                    .icon {
                        background-image: url('../img/2.svg');
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 60%;
                    }
                }

                & > div {
                    $h: 90px;
                    position: relative;
                    display: block;
                    height: $h;
                    margin: 0 auto .7em;

                    &:before {
                        content: '';
                        position: absolute;
                        right: 100%;
                        border-top: $h / 2 solid transparent;
                        border-bottom: $h / 2 solid transparent;
                        border-left: 0;
                        border-right: 18px solid;
                    }

                    &:after {
                        content: '';
                        display: inline-block;
                        vertical-align: middle;
                        height: 100%;
                        width: 0;
                    }

                    .icon {
                        position: absolute;
                        height: 60px;
                        width: 60px;
                        top: 50%;
                        left: -40px;
                        margin-top: -30px;
                        background-color: $blue10;
                        border-radius: 5px;
                    }

                    .text {
                        font-size: 1em;
                        line-height: 1.5;
                        display: inline-block;
                        vertical-align: middle;
                        width: 98%;
                        padding: 0 0 0 2em;
                        text-align: left;

                        @include media-xl {
                            font-size: 1.1em;
                            padding-left: 3em;
                        }
                    }
                }
            }
        }
    }
}
