@import "baseline";
@import "breakpoints";
@import "colors";
@import "header";
@import "main";
@import "footer";

html, body, input, textarea {
    font-family: 'Roboto Slab', serif;
}

body {
    overflow-x: hidden;
}

section {
    overflow: visible;

    &#harmo {
        position: relative;
    }
}

.wrapper {
    position: relative;
    width: 90%;
    max-width: 1320px;
    margin: auto;
    padding-bottom: 1px;

    @include media-l {
        width: 95%;
    }
}

.text-white {
    color: $white;
}

.text-red {
    color: $text-red1;
}

.text-green {
    color: $text-green1;
}

.text-green-2 {
    color: $text-green2;
}

.text-blue {
    color: $text-blue1;
}

.text-dark-blue {
    color: $text-blue2;
}

.bg-green-1 {
    background-color: $green7;
}

.bg-green-2 {
    background-color: $green8;
}

.bg-blue-1 {
    background-color: $blue8;
}
.bg-blue-2 {
    background-color: $blue11;
}

.bg-grad-1 {
    background: $grey4;
}

.bg-grad-2 {
    background: rgba(228,225,214,1);
    background: -moz-linear-gradient(top, rgba(228,225,214,1) 0%, rgba(238,236,229,1) 100%);
    background: -webkit-linear-gradient(top, rgba(228,225,214,1) 0%, rgba(238,236,229,1) 100%);
    background: -o-linear-gradient(top, rgba(228,225,214,1) 0%, rgba(238,236,229,1) 100%);
    background: -ms-linear-gradient(top, rgba(228,225,214,1) 0%, rgba(238,236,229,1) 100%);
    background: linear-gradient(to bottom, rgba(228,225,214,1) 0%, rgba(238,236,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e1d6', endColorstr='#eeece5', GradientType=0 );
}

.bg-grey {
    background: url('../img/bg_grey.jpg') no-repeat center;
    background-size: cover;
}

.bg-photo {
    background: url('../img/bg_blue_photo.jpg') no-repeat center;
    background-size: cover;
}

.bg-icons {
    background-image: url('../img/bg_icons.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: $grey3;
    background-size: cover;
}

.bg-mosaic-green {
    background: url('../img/mosaic_green.jpg') no-repeat center;
    background-size: cover;
}

.bg-mosaic-blue {
    background: url('../img/mosaic_blue.jpg') no-repeat center;
    background-size: cover;
}

.bg-mosaic-yellow {
    background: url('../img/mosaic_yellow.jpg') no-repeat center;
    background-size: cover;
}

em {
    font-style: normal;
    font-weight: 700;
}

.big {
    font-size: 1.1em;
}

.container {
    position: relative;
    width: 100%;
    max-width: 280px;
    margin: auto;

    @include media-ll {
        max-width: none;
    }
}

#c1 {
    position: absolute;

    @include media-ll {
        display: none;
    }
}

#c2 {
    display: none;

    @include media-ll {
        display: block;
        position: absolute;
        top: 300px;
        left: 0;
        right: 0;
    }
}

#map {
    width: 100%;
    height: 540px;
}
